<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <meta charset="utf-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="<%= page_keywords %>" />
    <meta name="description" content="<%= page_description %>" />
    <meta name="author" content="Gotar Oskar Szrajer - http://gotar.info" />
    
    <link rel="canonical" href="<%= canonical_url %>" />
    
    <!-- Hreflang tags for bilingual SEO -->
    <link rel="alternate" hreflang="pl" href="<%= site_url %>" />
    <link rel="alternate" hreflang="en" href="<%= site_url %>/en" />
    <link rel="alternate" hreflang="x-default" href="<%= site_url %>" />
    
    <meta property="og:title" content="<%= page_title %>" />
    <meta property="og:description" content="<%= page_description %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= canonical_url %>" />
    <meta property="og:image" content="<%= site_url %><%= asset_path('images/toyoda.svg') %>" />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "<%= site_name %>",
        "url": "<%= site_url %>",
        "logo": "<%= site_url %><%= asset_path('images/toyoda.svg') %>",
        "sameAs": [
          "https://www.facebook.com/aikidoorganization/",
          "https://www.facebook.com/dojogdynia/",
          "https://www.instagram.com/sesshinkan_aikido/"
        ],
        "contactPoint": [
          {
            "@type": "ContactPoint",
            "telephone": "+48 608-019-078",
            "contactType": "general inquiries",
            "areaServed": "PL",
            "availableLanguage": ["pl", "en"]
          }
        ],
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "ul. Slowackiego 50/22",
          "addressLocality": "Raciborz",
          "postalCode": "47-400",
          "addressCountry": "PL"
        }
      }
    </script>
    
    <!-- LocalBusiness Schema for Gdynia Dojo - SEO for "Aikido Gdynia" -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "SportsActivityLocation",
        "name": "Sesshinkan Dojo Gdynia",
        "alternateName": "Aikido Gdynia - Sesshinkan Dojo",
        "description": "Dojo Aikido w Gdyni - treningi Aikido Polska w linii Shihan Fumio Toyody. Zapraszamy na pierwszy trening w Gdyni!",
        "url": "<%= site_url %>/kontakt.html",
        "telephone": "+48 608-019-078",
        "email": "aikido@o-sensei.pl",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "ul. Komandora Podporucznika Jana Grudzińskiego 1",
          "addressLocality": "Gdynia",
          "postalCode": "81-103",
          "addressCountry": "PL",
          "addressRegion": "Pomorskie"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": "54.5441767",
          "longitude": "18.5432137"
        },
        "openingHours": [
          "Mo 20:00-21:30",
          "Fr 20:00-21:30"
        ],
        "priceRange": "0",
        "image": "<%= site_url %><%= asset_path('images/toyoda.svg') %>",
        "parentOrganization": {
          "@type": "Organization",
          "name": "Polska Organizacja Aikido",
          "url": "<%= site_url %>"
        }
      }
    </script>
    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#cd3333" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />
    
    <link rel="dns-prefetch" href="//fonts.googleapis.com" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="<%= asset_path_with_version('style.css') %>" />
    
    <title><%= page_title %></title>
  </head>
  <body>
    <nav>
      <%= render "nav" %>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
